<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Clientes</h2>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DNI</th>
        <th>POBLACIÓN</th>
        <th>CP</th>
        <th>TLF</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fabrica : ${fabricas}">
        <td th:text="${fabrica.nombre}"></td>
        <td th:text="${fabrica.dni}"></td>
        <td th:text="${fabrica.poblacion}"></td>
        <td th:text="${fabrica.cd}"></td>
        <td th:text="${fabrica.tlf}"></td>
        <td><button type="button" class="btn btn-warning" class="glyphicon glyphicon-edit">MODIFICAR</button></td>
        <td><button type="button" class="btn btn-danger" class="glyphicon glyphicon-remove">ELIMINAR</button></td>
    </tr>
    </tbody>
</table>

</body>
</html>